.container {
    max-width: 1110px;
    margin: 0 auto;
    overflow-x: hidden;

    @media (max-width: 1120px) {
        max-width: 100%;
        width: 100%;
        padding: 0 40px;
    }

    @media (max-width: 510px) {
        padding: 0 20px;
    }
}

.header {
    padding: 29px 0;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    z-index: 10000;

    @media (max-width: 1023px) {
        .logo {
            margin-left: 40px;
        }
    }
    @media (max-width: 510px) {
        .logo {
            margin-left: 20px;
        }
    }
    

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        @media (max-width: 1023px) {
            width: 100%;
            padding: 0;

            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 30px;
        }

        @media (max-width: 510px) {
            overflow: visible;
        }
    }

    &__burger {
        display: none;
        
        @media (max-width: 510px) {
            display: block;
            margin-left: 20px;
            width: 24px;
            height: 24px;

            position: relative;
            cursor: pointer;
            z-index: 10000;

            span {
                width: 24px;
                height: 3px;
                background: #4C5866;
                position: absolute;
                bottom: 7px;
                left: 0;
                border-radius: 5px;
                transition: .5s;

                &::before, &::after {
                    content: '';
                    width: 24px;
                    height: 3px;
                    background: #4C5866;
                    border-radius: 5px;
                    transition: .5s;

                    position: absolute;
                    left: 0;
                }

                &::before {
                    bottom: 7px;
                }

                &::after {
                    bottom: -7px;
                }
            }

            &.active span {
                width: 0;
                height: 0;

                &::before {
                    transform: translateY(7px) rotate(45deg);
                }

                &::after {
                    transform: translateY(-7px) rotate(-45deg);
                }
            }


        }
    } 

    &__menu {
        @media (max-width: 1023px) {       
            width: 100%;
            padding-top: 30px;
            display: flex;
            justify-content: center;
            border-top: 1px solid #DDDDDD;
            position: relative;
        }
        @media (max-width: 510px) {
            justify-content: space-between;
            align-items: center;

            &.active .header__menu-mobile {
                z-index: 10;
                user-select: auto;
                height: 400px;
                opacity: 1;
                padding: 15px;
                padding-top: 80px;
                padding-left: 20px;
            }
        }
    }

    &__menu-mobile {
        user-select: none;
        height: 0;
        padding: 0;
        opacity: 0;

        transition: .5s all, .3s opacity;

        @media (max-width: 510px) {
            width: 100%;

            padding-left: 20px;
            
            background: #EBEBEB;
            position: absolute;
            top: 0px;
            left: 0;

            ul {
                display: flex;
                flex-direction: column;
                gap: 50px;
            }
        }
    }

    &__list {
        @media (max-width: 510px) {
            display: none;
        }
    }
    &__list ul {
        display: flex;
        gap: 60px;
        margin-right: 60px;

        @media (max-width: 1023px) {
            margin-right: 0;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 30px;

        @media (max-width: 1023px) {
            position: absolute;
            top: 29px;
            right: 40px;
        }
        @media (max-width: 510px) {
            position: static;
            margin-right: 20px;
        }
    }
}

.footer {
    padding: 29px 0;
    background: #4C5866;

    @media (max-width: 510px) {
        > .container {
            flex-direction: column;

            > img {
                padding-bottom: 20px;
            }

            ul {
                width: 100%;
                justify-content: center;
                border-top: 1px solid #DDDDDD;

            }
            ul img {
                margin-top: 20px;
            }
        }
    }
}

.post-footer {
    padding: 5px 0;
    background: #fff;
    color: #4C5866;
    text-align: center;

    img {
        transform: translateY(1.5px);
    }

    a {
        text-decoration: underline;
    }
}

.flex {
    display: flex;

    &.ac-c {
        align-items: center;
    }
    &.ac-s {
        align-items: start;
    }
    &.ac-e {
        align-items: end;
    }

    &.jc-s {
        justify-content: start;
    }
    &.jc-c {
        justify-content: center;
    }
    &.jc-e {
        justify-content: end;
    }
    &.jc-sp-bet {
        justify-content: space-between;
    }

    &.wrap {
        flex-wrap: wrap;
    }


    &.gap-30 {
        gap: 30px;
    }
    &.gap-60 {
        gap: 60px;
    }

}

.button {
    display: block;

    width: 255px;
    padding: 20px 50px;
    
    border: 1px solid #7875FE;
    background: transparent;
    color: #7875FE;
    cursor: pointer;
    transition: .15s ease-out;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    &:hover {
        background: #7875FE;
        color: #fff;
    }

    &:active {
        background: #4946B4;
        color: #fff;
    }
}

.link {
    text-decoration: none;
    color: #4C5866;
    transition: .15s ease-out;

    &:hover {
        color: #7875FE;
    }

    &:active {
        color: #4946B4;
    }
}

.catalog-link {
    text-decoration: none;
    color: #7875FE;
    font-size: 20px;
    line-height: 24px;
    transition: .15s ease-out;

    &:hover {
        color: #4946B4;
    }

    &:active {
        color: #4946B4;
    }
}

.social-link {
    img {
        transition: .15s ease-out;
    }

    &:hover img {
        filter: invert(63%) sepia(48%) saturate(7123%) hue-rotate(219deg) brightness(99%) contrast(102%);
    }
}


.login-button {
    width: 24px;
    height: 24px;

    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: invert(30%) sepia(5%) saturate(1862%) hue-rotate(172deg) brightness(100%) contrast(83%);
    transition: .15s ease-out;
    
    &:hover {
        filter: invert(36%) sepia(65%) saturate(2192%) hue-rotate(226deg) brightness(114%) contrast(99%);
    }
}

.close-button {
    width: 16px;
    height: 16px;
    padding: 0;
    background: #D1D1E5;
    border-radius: 50%;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .15s ease-out;

    &::before, &::after {
        content: '';
        display: block;
        background: #000;
        width: 7px;
        height: 1px;
        position: absolute;
        top: 50%;
    }

    &::before {
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }

    &::after {
        right: 50%;
        transform: translateX(50%) rotate(-45deg);
    }

    &:hover {
        background: #7875FE;

        &::before, &::after {
            background: #fff;
        }
    }

    &:active {
        background: #4946B4;
    }
}

.search {
    width: 24px;
    height: 24px;
    display: flex;

    transition: .6s width ease-out;

    img {
        transition: .15s all ease-out;
        cursor: pointer;
        filter: invert(33%) sepia(18%) saturate(496%) hue-rotate(172deg) brightness(92%) contrast(87%);
    }

    img:hover {
        filter: invert(48%) sepia(98%) saturate(3464%) hue-rotate(223deg) brightness(107%) contrast(99%);
    }

    input {
        width: 0;
        border: none;
        outline: none;
    }

    .close {
        display: none;
    }

    &.active {
        width: 257px;
        position: relative;

        img {
            margin-right: 7px;
        }
        input {
            width: 100%;
            border-bottom: 1px solid #D1D1E5;
        }
        .close {
            display: block;
            position: absolute;
            top: 5px;
            right: 0;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}